html {
  box-sizing: border-box;
}

section {
  height: 100vh;
}

/* Mobile 280px */
nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  list-style-type: none;
  background-color: rgb(255,255,255,0.5);
}

#headerphoto {
  background-color: blue;
  height: 100vh;
}

#headerphoto > h1 {
  text-align: center;
  padding-top: 20%;
}

#welcome {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
}

#welcome > h2 {
  font-size: 3rem;
  padding-top: 18%;
}

#welcome > p {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2em;
}

#welcome > p:nth-child(3) {
  font-size: 1.5rem;
}

#about {
  height: 100vh;
  background-color: yellow;
}

#menu {
  height: 100vh;
  background-color: gray;
  text-align: center;
}

#menu > h3 {
  padding-top: 25%;
  font-size: 3rem;
}

#menu > p {
  padding-top: 2em;
}

#reviews {
  height: 100vh;
  background-color: green;
}

#questions {
  height: 100vh;
  background-color: magenta
}

#contact {
  height: 100vh;
  background-color: blue;
}

#footer {
  height: 40vh;
  background-color: darkgray;

}
