html {
  box-sizing: border-box;
}

h1,
h3,
a,
.btn {
  font-family: "Bodoni Moda", serif;
}

h2 {
  font-family: "Italianno", cursive;
}

h2 > a {
  font-family: "Italianno", cursive;
  color: black;
  text-decoration: none;
}

h2 > a:hover {
  color: rgb(150, 40, 27);
  text-decoration: none;
}

p {
  font-family: "Jost", sans-serif;
}

a > i {
  color: black;
  text-decoration: none;
}

/* Mobile 280px */
nav {
  height: 10vh;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#navbar-toggler-icon {
  color: rgb(150, 40, 27);
  font-size: 2rem;
}

.offcanvas-title {
  border-bottom: 2px solid rgb(150, 40, 27);
}

#offcanvasNavbar {
  height: 68vh;
  width: 80vw;
}

ul {
  list-style-type: none;
  background-color: rgb(255, 255, 255, 0.5);
}

.offcanvas-header > h5 {
  font-size: 1.2rem;
}

.navbar-nav .nav-link {
  color: black;
}

ul > li > a {
  font-size: 1.2rem;
  border: 1px solid black;
}

.bi-three-dots-vertical {
  color: rgb(150, 40, 27);
  font-size: 1.2rem;
}

#offcanvasRight {
  height: 30vh;
  width: 75vw;
}

#main {
  height: 90vh;
  margin-top: 10vh;
}

#headerphoto {
  background-image: linear-gradient(to bottom, transparent, black 75%),
    url("https://res.cloudinary.com/dd1i00sei/image/upload/v1647649187/besteakaheader_ihm1bb.jpg");
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
}

#headerphoto > h1 {
  text-align: center;
  padding-top: 20%;
}

#welcome {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
}

#welcome > h2 {
  font-size: 2rem;
  padding-top: 35%;
}

#welcome > p {
  font-size: 0.9rem;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

#welcome > h2 {
  font-size: 1.5rem;
  padding-top: 1em;
}

#about {
  height: 100vh;
}

#aboutphoto {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dd1i00sei/image/upload/v1647651377/img2_wcdcjw.jpg");
  border-radius: 50%;
  height: 35vh;
  width: 80vw;
  margin-top: 4em;
  box-shadow: 10px 5px 5px black;
}

#abouttext {
  margin-top: 4em;
  text-align: center;
}

#abouttext > h1 {
  color: rgb(150, 40, 27);
}

#abouttext > p {
  margin-top: 3em;
}

#menu {
  height: 100vh;
  text-align: center;
}

#menubackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/dd1i00sei/image/upload/v1648507934/IMG_8648_ne8btt.jpg");
  background-position: center;
  height: 100vh;
}

#menubox {
  margin-top: 25%;
  height: 40vh;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  transform: translateY(10em);
}

#menubox > h1 {
  color: white;
}

#menubox > p {
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
}

#menubox > button {
  color: white;
}

#reviewsheader {
  padding-top: 3em;
  color: rgb(150, 40, 27);
}

#questions > h1 {
  color: rgb(150, 40, 27);
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1 > .accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

#contact > h1 {
  color: rgb(150, 40, 27);
}

#contactheader {
  font-size: 1rem;
}

#footer {
  text-align: center;
  padding: 3em;
  border-top: 1px solid black;
}

#footerbutton {
  border: 1px solid black;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  color: black;
  color: rgb(150, 40, 27);
}

@media screen and (min-width: 360px) {
  #offcanvasNavbar {
    height: 60vh;
    width: 60vw;
  }

  #offcanvasRight {
    width: 60vw;
  }

  #aboutphoto {
    height: 40vh;
  }
}

@media screen and (min-width: 375px) {
  #offcanvasNavbar {
    height: 66vh;
  }

  #aboutphoto {
    height: 45vh;
  }
}

@media screen and (min-width: 390px) {
  #offcanvasNavbar {
    height: 55vh;
  }

  #offcanvasRight {
    height: 25vh;
  }

  #headerphoto {
    background-image: linear-gradient(to bottom, transparent, black 60%),
      url(https://res.cloudinary.com/dd1i00sei/image/upload/v1647649187/besteakaheader_ihm1bb.jpg);
  }

  #aboutphoto {
    height: 39vh;
  }
}

@media screen and (min-width: 412px) {
  #offcanvasNavbar {
    height: 50vh;
  }
}

@media screen and (min-width: 540px) {
  #offcanvasNavbar {
    height: 65vh;
  }

  #offcanvasRight {
    height: 30vh;
    width: 40vw;
  }

  #aboutphoto {
    height: 60vh;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  #offcanvasNavbar {
    height: 45vh;
    width: 40vw;
  }

  #offcanvasRight {
    height: 20vh;
  }

  #welcome > h1,
  #abouttext > h1,
  #menubox > h1,
  #reviewsheader,
  #questions > h1,
  #contact > h1 {
    font-size: 3rem;
  }

  #welcome > p,
  #abouttext > p,
  #menubox > p,
  #menubox > button,
  #footerbutton,
  #reviewsp,
  #questions > p {
    font-size: 1.2rem;
  }

  #welcome {
    height: auto;
    padding-bottom: 10em;
    padding-top: 10em;
  }

  #welcome > h2,
  #abouttext > h2 {
    font-size: 2rem;
  }

  #main {
    padding-top: 8em;
    background-image: linear-gradient(to bottom, transparent, black 80%), url(https://res.cloudinary.com/dd1i00sei/image/upload/v1649964259/IMG_9529_m5ag67.jpg);
    background-position: center;
    margin-bottom: -1em;
  }

  #headerphoto {
    background-image: url(https://res.cloudinary.com/dd1i00sei/image/upload/v1649962817/besteakalogo_que5ws.png);

  }
  #about {
    height: auto;
  }

  #aboutphoto {
    margin: 0;
    width: 300px;
    height: 300px;
    border-right: 2px solid black;
    margin-top: 9em;
    margin-bottom: 9em;
  }

  #abouttext {
    margin: 0;
    padding: 2em;
    margin-top: 9em;
    margin-bottom: 9em;
  }

  #menubox {
    padding-top: 13em;
    margin-top: 0;
  }

  #reviewsheader {
    padding-top: 1em;
  }


  #reviewscol2 {
    margin-left: 2em;
  }

  #contactheader {
    font-size: 1.4rem;
  }

  #navbar-toggler-icon {
    font-size: 2.5rem;
  }

}

/* double check */
@media screen and (min-width: 820px) {
  #offcanvasNavbar {
    height: 40vh;
  }

}

/* double check */
@media screen and (min-width: 912px) {


  #offcanvasNavbar {
    height: 35vh;
  }
}

@media screen and (min-width: 1024px) {
  #main {
    background-image: none;
  }

  #welcome {
    background-color: white;
    color: black;
    margin-top: 10em;
  }
  
  h4:hover {
    color: rgb(150, 40, 27);
  }

  .navbar {
    background: transparent;
  }

  .navState {
    background-color: white;
    transition: 3s ease-out;
    color: rgba(0, 0, 0, 1);

  }

  #navHeader {
    border-bottom: 3px solid rgb(150, 40, 27, 1);
  }


  #offcanvasNavbar {
    height: auto;
  }

  #offcanvasRight {
    height: auto;
  }

  .offcanvas-body > ul {
    background-color: rgba(255, 255, 255, 0);
  }

  ul > li > a {
    border: none;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0, 0);
    margin-right: 0.5em;
  }

  ul > li > a:hover {
    border: 1px solid rgb(150, 40, 27, 1);
  }

  .navbar-nav .nav-link:hover {
    color: black;
  }

  #offcanvasRight > .offcanvas-body {
    justify-content: end;
  }

  #closebutton {
    display: none;
  }

  #about {
    height: 100vh;
  }

  #aboutphoto {
    height: 400px;
    margin: 0;
    width: 400px;


  }

  #abouttext {
    margin: 0;
    padding-top: 6em;

  }
}

@media screen and (min-width: 1440px) {
  #main {
    background-image: none;
    background-color: white;
  }

  #welcome > h1,
  #abouttext > h1,
  #menubox > h1,
  #reviewsheader,
  #questions > h1,
  #contact > h1 {
    font-size: 4rem;
  }

  #menubox > div > button {
    font-size: 1.3rem;
  }
  
  #aboutphoto {
    height: 500px;
    width: 500px;
    margin-top: 20em;
  }

  #abouttext {
    margin-top: 21em;
    padding-left: 8em;

  }


  #welcome > p {
    padding-left: 10em;
    padding-right: 10em;
  }


}

@media screen and (min-width: 2560px) {
  ul > li > a {
    font-size: 1.5em;
  }
  
  #main {
    padding-top: 20em;
  }

  #aboutphoto {
    margin-top: 22em;
  }

  #abouttext {
    margin-top: 22em;
  }
  
  #welcome > p {
    padding-left: 20em;
    padding-right: 20em;
    font-size: 1.5em;
  }

  #abouttext > h2,
  #welcome > h2 {
    font-size: 2.5em;
  }

  #abouttext > p,
  #menubox > p,
  #reviewsp,
  p,
  #questions > p {
    font-size: 1.5em;
  }

  #menubox > div > button {
    font-size: 1.7em;
  }

  #headingOne > button,
  #headingTwo > button,
  #headingThree > button,
  #headingFour > button,
  #headingFive > button {
    font-size: 0.6em;
  }

  #contactheader {
    font-size: 2em;
  }


  

  #welcome > h1,
  #abouttext > h1,
  #menubox > h1,
  #reviewsheader,
  #questions > h1,
  #contact > h1 {
    font-size: 5rem;
  }
}